<configuration>
  <springProfile name="default">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
  </springProfile>
  <springProfile name="dev,stage,perf,prod,qa,hotfix,demo,integration,simmaster,simexec,sandbox,sdev,sqa,sperf,orielly,devpe">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <appender name="ASYNC_CONSOLE"
              class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="CONSOLE" />
      <neverBlock>true</neverBlock>
    </appender>
    <root level="*">
      <appender-ref ref="ASYNC_CONSOLE"/>
    </root>
  </springProfile>
</configuration>